<div class="row g-3 mb-5">
  <div class="col-sm">
    <input
      type="text"
      [(ngModel)]="todo.text"
      class="form-control"
      placeholder="Todo..."
      (keyup.enter)="addTodo()"
    />
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-dark form-control">Add</button>
  </div>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let item of todos; let i = index">
    <span ngClass="{{item.check}}">{{i+1}} - {{item.text}}</span>
    <button
      type="button"
      class="btn btn-success btn-sm mx-2 float-end"
      (click)="checkTodo(i)"
    >
      <i class="bi bi-check-lg"></i>
    </button>
    <button
      type="button"
      class="btn btn-danger btn-sm mx-2 float-end"
      (click)="removeTodo(i)"
    >
      x
    </button>
  </li>
</ul>
